body {margin: 0; font-family: Arial, sans-serif;}
.navbar {background-color: #2D3E40;
         padding: 25px;
         display: flex;
         gap: 25px;}
.navbar a {color: #E4F2E7;
           text-decoration: none;
           font-weight: bold;}
.navbar a:hover {color: #abf8c0}
footer {background-color: #2D3E40;
        padding: 25px;
        margin-top: 40px;}
footer h2 {margin-top: 0;}
footer ul {list-style: none; padding: 0;}
footer li {margin-bottom: 8px;}
footer a  {color: #abf8c0}
footer a:hover {color: #44f373}
.creditos {margin-top: 20px; font-size: 14px; opacity: 0.7; color: #C8DBD5;}
body {background-color:#C8DBD5;}
section {margin-bottom: 30px;}
h1, h2 {color:#32332F;}
.referencias {color: #E4F2E7;}